.site-header__top-bar-navigation .menu a{
	font-size: 14px;
}

.site-header__top-bar-navigation,
.site-header__main-navigation{
	
	.menu a{
		display: inline-block;
		padding: 10px;
	}

	li{ position: relative; }
}


.footer-navigation{
	
	a{
		display: inline-block;
		padding: 10px;

	}
}



/******/


.lazy-main-navigation{
	
	@media( max-width : 959px ){
		position: absolute;
		z-index: 1;
		width: 100%;
		left: 0;
		top: 100%;

		background-color: #fff;
	}


	.site-header__main-navigation-toggle{

		position: absolute;
		z-index: 3;
		
		right: 20px;
		bottom: 100%;
		bottom: calc( 100% + 1.1em );
		
		appearance: none;
		border: none;
		background-color: transparent;
		cursor: pointer;

		box-shadow: 0 0 0 2px #ddd;

		@media( min-width:960px ){
			display: none;

		}

		.menu-label{
			vertical-align: middle;
			margin-right: 8px;
			text-transform: uppercase;
		}

	}

	.sub-menu{
		background-color: #fff;
		padding-left: 0;
		margin-left: 0;

		list-style: none;
		text-align: left;
	
	}
	@media( min-width : 960px ){
		
		.sub-menu{
			
			position: absolute;
			overflow: hidden;

			min-width: 100%;
			opacity: 0;
			max-height: 0;
			
			a{ width: 100%; }

		
		}

		li:hover > .sub-menu{
			opacity: 1;
			max-height: 50vh;
		}
	}
	
	.menu{

		@media( max-width : 959px ){

			text-align: left;
			padding-top: 0;

			position: absolute;
			flex-direction: column;
			flex-wrap: nowrap;
			width: 100%;

			max-height: 0;
			overflow: hidden;
			transition : all .3s;

			box-shadow: 0 0 0 2px #eee;
			background-color: #fff;

			a{
				padding-left: 20px;
				padding-right: 20px;
			}
		}

	}

	&--open .menu{

		@media( max-width : 959px ){
			padding-top: 30px;
			max-height: 1000px;
		}
	}



	/**

	Vergan burger


	**/
	

	.veganburger{

		width: 25px;
		height: 25px;
		position: relative;
		display: inline-block;

		vertical-align: middle;

	}

	.veganburger span {
		background: #333;
		height: 3px;
		width: 25px;
		position: absolute;
		display: block;
		content: '';
		
		transition: all 0.3s ease-out 0.07s;

		left: 50%;
		transform: translateX(-50%);
		border-radius: 25px;

	}

	.veganburger .pain{
		top: 0px;
	}
	.veganburger .ketchup {
		top: calc( 25px / 2 - 3px / 2);
	}
	.veganburger .tempeh {
		top: calc( 25px - 3px );
	}


	
	
	&--open .veganburger span{
			background: #333;
		}

		&--open .veganburger .pain{
			top: calc( 25px / 2 - 3px / 2);
			transform: translateX(-50%) rotate(135deg);
		}

		&--open .veganburger .ketchup {
			width: 0;
		}


		&--open .veganburger .tempeh {
			top: calc( 25px / 2 - 3px / 2);
			transform: translateX(-50%) rotate(-135deg);
		}

		&--open .veganburger span{
			box-shadow: none;	
		}

}







/*

.main-navigation {
	display: block;
	width: 100%;
}



.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}
*/


/* Small menu. */

/*
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

*/

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


ul.menu, ol.menu{

	padding-left: 0;
	margin: 0 auto;
	list-style: none;
	display: flex;
	flex-grow: 1;
}
